<app-template-a [title]="titre" [subtitle]="soustitre">

  <app-tableau-dark [headers]="headers">
    <tr *ngFor="let item of collection$ | async">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency: 'EUR' }}</td>
      <td>{{ item | total | currency: 'EUR' }}</td>
      <td>{{ item | total: 'ttc' | currency: 'EUR' }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state}}</option>
        </select>
      </td>
    </tr>
  </app-tableau-dark>

  <app-button [texte]="btnAddPresta.texte" [route]="btnAddPresta.route"></app-button>
  <app-button [texte]="btnLinkGoogle.texte" [href]="btnLinkGoogle.href"></app-button>
  <app-button [texte]="btnAction.texte" [action]="btnAction.action" (clicked)="openPopup()"></app-button>
</app-template-a>
